body {
    text-align: center;
    background-color: #FFF4F4;
    margin: 0;
    padding: 0;
    color: #454545;
}

.picture {
    width: 200px;
    border-radius: 50%;
    margin-top: 100px;
}

hr {
    border: 1px dashed #606C5D;
    width: 75%;
}

.skillimage {
    width: 200px;
    height: 200px;
}

#header {
    height: 500px;
    background-color: #606C5D;
    color: #F7E6C4;
}

h1 {
    margin: 0;
    padding-top: 125px;
    font-family: "Baskervville SC", serif;
    letter-spacing: 1px;
    font-size: 50px;
}

#header > h2 {
    font-family: Roboto, sans-serif;
    margin: 0;
}

#header > img {
    margin-top: 50px;
}

#main, #footer {
    font-family: Roboto, sans-serif;
}

#main > p {
    width: 30%;
    margin: auto;
    margin-bottom: 30px;
}

.skills {
    margin-top: 30px;
}

.skilltab {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    margin: auto;
    text-align: left;
    row-gap: 50px;
    column-gap: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.contact {
    margin: 30px 0 60px;
}

.contact > p {
    width: 50%;
    margin: 30px auto 40px;
}

.contact > a {
    background-color: #606C5D;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #F7E6C4;
}

.contact > a:hover {
    background-color: #F1C376;
    color: #454545;
}


#footer {
    background-color: #F1C376;
    padding: 20px;
}

#footer > p {
    margin: 0;
}

@media (max-width: 820px) {
    .skilltab {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 1px;
    }
    
}